@charset "utf-8"
@import "compass"
body
  text-align: center
  font-family: sans-serif 
.news
  text-align: left
  margin-top: 10px
  width: 800px
  margin-left: auto
  margin-right: auto

.news ul li
  list-style-type:  disc

.news h2
  margin-bottom: 10px

#top
  text-align: center
  width: 800px
  height: 480px
  background-image: url('/images/frontpage.png')

#from_it-college
  margin-top: 20px

#topbtn
  position: absolute
  right: 320px
  bottom: 170px
