@charset "utf-8"
@import "compass"

body 
  text-align: center
  font-family: sans-serif

.news
  text-align: left
  margin-top: 10px

.news ul li
  list-style-type:  disc

#from_it-college
  width: 800px
  margin-left: auto
  margin-right: auto
