<<<<<<< HEAD
#aucolle {
	background-image: url(../images/background.png);
  border:2px solid #aaa;
  height:480px;
  margin:auto;
	overflow:hidden;
  /*padding: 10px 20px;*/
  width:800px;
}

#frame {
	position:absolute;
	z-index:2;
}

#head-btn {
	left:-35px;
	position:relative;
	top:-24px;
	z-index:2;
}

#comp {
	left:700px;
	position:relative;
	top:-115px;
	z-index:2;
}

#contents {
	height:400px;
	left:116px;
	position:relative;
	top:-100px;
	width:670px;
}

#nav {
	height:300px;
	position:relative;
	top:30px;
	width:330px;
	z-index:3;
}

#nav > img {
	padding-right:10px;
}

#teacher {
	position:relative;
	right:-200px;;
	top:-290px;
	z-index:1;
}

#janken {
  height:400px;
  margin:70px auto;
  width: 700px;
=======
.aucolle {
  width:800px;
  height:480px;
  padding: 10px 20px;
  margin:auto;
  border:2px solid #aaa
>>>>>>> master
}

#game_janken {
  width:50%;
  margin:0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  position:fixed;
  display:none;
<<<<<<< HEAD
  z-index:4;
=======
  z-index:2;
}

#roster {
  position: fixed;
  top:0;
  left:-800px;
  width:800px;
  height:280px;
  background:#E87272;
>>>>>>> master
}

.enemyhand {
  width: 100px;
  height: 100px;
  display: block;
  overflow: hidden;
  background: transparent url(../images/gcp.png) no-repeat center;
}
