*{
	margin:0;
	padding:0
}

.box {
	background-image: url(./images/background.png);
	border:1px solid #cccccc;
	height:500px;
	margin:50px auto;
	text-align:center;
	width:940px;
}

#janken {
	border:2px solid #cccccc;
	height:400px;
	margin:70px auto;
	width:700px;
}
