<div id='aucolle'>
  <div id='roster'>
    <div id='list' class='horizontal'>
      <ul>
        <li><img id='0' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='1' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='2' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='3' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='4' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='5' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='6' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='7' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='8' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='9' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='10' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
        <li><img id='11' src='./images/teachers_icon/icon_tsuyopon.png' alt=''></li>
      </ul>
    </div>
    <div id='detail' class='horizontal'>
      <p>aaaa</p>
    </div>
  </div>
  <h2 id='comp'>0%</h2>
  <img id='gamestart' src="./images/auau.jpg" alt="">
  <img id='rosterView' src='./images/gcp.png' alt=''>
  <div id='game_janken' align='center'>
    <h2 id="title">アザラシ</h2>
    <div class="box">
      <div id="janken">
        <div class='enemyhand'></div>
        <div>
          <img src="./images/auau.jpg" alt="">
        </div>
        <div>
          <img src="./images/g.png" alt="" id="g">
          <img src="./images/c.png" alt="" id="c">
          <img src="./images/p.png" alt="" id="p">
        </div>
      </div>
    </div>
    <link href="/stylesheets/janken.css" rel="stylesheet" type="text/css">
  </div>
</div>
