<div id='aucolle'>
  <div class='roster'>
    <div id='list'>
      <ul class='teachers'>
      </ul>
    </div>
    <div id='detail'>
      <img src='./images/detail_tsuyopon.png' alt=''>
    </div>
  </div>
  <h2 id='comp'>0%</h2>
  <img id='gamestart' src="./images/auau.jpg" alt="">
  <img id='rosterView' src='./images/gcp.png' alt=''>
  <div id='game_janken' align='center'>
    <h2 id="title">アザラシ</h2>
    <div class="box">
      <div id="janken">
        <div class='enemyhand'></div>
        <div>
          <img src="./images/auau.jpg" alt="">
        </div>
        <div>
          <img src="./images/g.png" alt="" id="g">
          <img src="./images/c.png" alt="" id="c">
          <img src="./images/p.png" alt="" id="p">
        </div>
      </div>
    </div>
    <link href="/stylesheets/janken.css" rel="stylesheet" type="text/css">
  </div>
</div>
