---
title: アウこれ
---
<div id='aucolle'>
	<h2 id='comp'>0%</h2>
	<!--図鑑-->
	<div class="roster">
		<div id="box">
			<div id="list">
				<ul class='teachers'>
				</ul>
			</div>
			<div id="exit">
				<img src="./images/exit_btn.png" alt="">
			</div>
		</div>
		<div id="detail">
			<img src="./images/teachers_detail/detail_tsuyopon.png" alt="">
		</div>
	</div>
	<!--学校-->
	<div>
		<img id="frame"src="./images/frame.png" alt="">
		<img id="head-btn" src="./images/school_btn.png" alt="">
		<h2 id="comp">0%</h2>
		<div id="contents">
			<div id='nav'>	
				<img id="gamestart" src="./images/search.png" alt="">
				<img id="rosterView" src="./images/picturebook.png" alt="">
			</div>
			<img id="teacher" src="./images/teachers_top/nakasone.png" alt="">
		</div>
	</div>
	<!--捜索-->
	<div id="game_janken" align="center">
		<h2 id="title">アザラシ</h2>
		<div id="janken">
			<div class="enemyhand"></div>
			<div>
				<img src="./images/auau.jpg" alt="">
			</div>
			<div>
				<img src="./images/g.png" alt="" id="g">
				<img src="./images/c.png" alt="" id="c">
				<img src="./images/p.png" alt="" id="p">
			</div>
		</div>
	</div>
</div>
